.Rproj.user
.Rhistory
.RData
.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.tex
*.nav
*.snm
*.toc
dev/*
framed.sty
# data/church*.rda
# data/claassen_m5*.rda
# data/dcpo_output.rda
# data/*/claassen_m5*.rda
# data/df_dcpo.rda
paper/*cache/
# paper/figures/old/
# paper/lit/
# paper/cda/
# data/kfold/*fold*
# data/kfold/*/*fold*
# data/*.csv
# data/*.qs
data/*
reference/*
paper/submission


