data/* filter=lfs diff=lfs merge=lfs -text
data/*.rda filter=lfs diff=lfs merge=lfs -text
renv.zip filter=lfs diff=lfs merge=lfs -text
data/*[[:space:]]--everything filter=lfs diff=lfs merge=lfs -text
